.grid2 {
    display: grid;
    grid-template-areas:
        'blok1'
        'blok2'
        'blok3';
}

.blok1 {
    grid-area       : blok1;
    background-color: whitesmoke;
    border          : 5px solid rgba(237, 244, 250, 1);
    box-shadow      : 0 0 40px rgba(0, 0, 0, 0.5);
    border-radius   : 10px;
    padding         : 10px;
}

.blok2 {
    grid-area       : blok2;
    background-color: whitesmoke;
    border          : 5px solid rgba(237, 244, 250, 1);
    box-shadow      : 0 0 40px rgba(0, 0, 0, 0.5);
    border-radius   : 10px;
    padding         : 10px;
}

.blok3 {
    grid-area       : blok3;
    background-color: whitesmoke;
    border          : 5px solid rgba(237, 244, 250, 1);
    box-shadow      : 0 0 40px rgba(0, 0, 0, 0.5);
    border-radius   : 10px;
    padding         : 15px;
}

@media (min-width:800px) {
    .grid2 {
        display              : grid;
        grid-gap             : 20px;
        grid-template-columns: 1fr 4fr;
        grid-template-areas  :
            'blok1 blok2'
            'blok3 blok3';
    }
}