.prLoudPosition {
    width: 120px;
    height : min-content;
    margin: 0px auto;
}
.pageList {
    text-align: center;
    padding: 8px;
    width: 700px;
    margin: auto;
    background-color:blanchedalmond;
    border          : 2px solid black;
    border-radius   : 10px;
    overflow: auto;
    position: sticky;
    top: 0;
}
.pageList span {
    padding: 5px;
}

.selectedPage {
   font-weight: bold; 
   font-size: 20px;
   color: red;
}