.BlockStatus {
    white-space: pre-wrap;
    text-align : center;
    font-size  : 22px;
    font-weight: bold;
}

.BlockStatus input {
    width           : 100%;
    text-align      : center;
    font-size       : 22px;
    font-weight     : bold;
    background-color: rgba(237, 244, 250, 1);
}