.headBlok {
    display: grid;
    grid-template-areas:
        'Block1 Block2';
    grid-template-columns: 6fr 1fr;
    grid-gap             : 15px;
    font-family          : 'Comic Sans MS';
    font-weight          : bold;
    height: 95px;
}

.Block1 {
    grid-area: Block1;
    z-index: 1;
}

.BlockLogo {
   z-index: 2;
   padding: 39px 0px;
}
.BlockLogo img {
    height     : 80px;
    width      : 400px;
}

.Block2 {
    grid-area    : Block2;
    height       : min-content;
    width        : min-content;
    display      : flex;
    box-shadow   : 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size    : 25px;
    margin-left  : 100px;
}

.EnterText {
    font-size    : 25px;
    text-align: right;
    text-shadow:   rgb(31, 114, 187) 2px 3px 4px;
    padding: 20px 20px;
}

.Avatar {
    height       : 70px;
    width        : 70px;
    border       : 2px solid black;
    border-radius: 20px;
    float        : right;
    padding      : 10px;
}

.Avatar img {
    height       : 100%;
    width        : 100%;
    border-radius: 20px;
}

.Name {
    padding: 0 10px;
    margin : 25px auto;
    float  : right;
}

.exit {
    margin: -60px 8px;
}

.exit img {
    height: 60px;
    width : 60px;
}

.block1 {
    position: static;
    z-index : 1;
}

.block2 {
    z-index : 2;
    position: static;
}
