.item {
    padding: 2px 20px;
    text-align   : left;
}
.item div:nth-child(1) {
    font-size  : 20px;
    color      : red;
    font-weight: bold;
    font-family: 'Comic Sans MS';
}
.item img {
    height        : 30px;
    width         : 30px;
    vertical-align: middle;
    padding-left  : 4px
}