.formControl {
padding: 8px;
}

.formControl.error input,
.formControl.error textarea 
{
    border: 2px solid red;
}

.formControl.error span {
    color: red;  
}

.line {
    display: inline-flex;
}

.line span {
    padding: 4px 3px;
}
