.grid {
  display              : grid;
  grid-gap             : 15px;
  padding              : 20px 20px;
  margin               : 0 auto;
  grid-template-areas  :
    'blok1'
    'blok2'
    'blok3';
    font-family: 'Time New Romans';
    font-size: 18px;
}

/* .grid>* {
  border: 5px solid black;
} */

.blok1 {
  grid-area       : blok1;
  background-color: whitesmoke;
  border          : 5px solid rgba(237, 244, 250, 1);
  box-shadow      : 0 0 40px rgba(0, 0, 0, 0.5);
  border-radius   : 10px;
  padding: 10px;
}

.blok2 {
  grid-area       : blok2;
  width: 200px;
  height:min-content;
  background-color: whitesmoke;
  border          : 5px solid rgba(237, 244, 250, 1);
  box-shadow      : 0 0 40px rgba(0, 0, 0, 0.5);
  border-radius   : 10px;
  padding: 20px;
  margin: 20px;
}

.blok3 {
  grid-area       : blok3;
  background-color: whitesmoke;
  border-radius   : 10px;
  padding: 20px;
}


@media (min-width:800px) {
  .grid {
    max-width            : 1600px;
    grid-template-columns: 1fr 5fr;
    grid-template-areas  :
      'blok1 blok1'
      'blok2 blok3';

  }
}